

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}


ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}


a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: none;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}


img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}


th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}


@media print {
  *,
  *::before,
  *::after {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #adb5bd;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  @page {
    size: a3;
  }
  body {
    min-width: 992px !important;
  }
  .container {
    min-width: 992px !important;
  }
  .navbar {
    display: none;
  }
  .badge {
    border: 1px solid #000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dee2e6 !important;
  }
  .table-dark {
    color: inherit;
  }
  .table-dark th,
  .table-dark td,
  .table-dark thead th,
  .table-dark tbody + tbody {
    border-color: #dee2e6;
  }
  .table .thead-dark th {
    color: inherit;
    border-color: #dee2e6;
  }
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #fff;
}

.title {
  font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1300 - 300)));
}

p {
  font-size: calc(13px + (15 - 13) * ((100vw - 300px) / (1300 - 300)));
  opacity: .9;
  font-weight: 400;
  letter-spacing: .6px;
  color: #fff;
}

a {
  color: #6c757d;
  text-decoration: none;
}

a .angle {
  font-size: 13px;
  position: relative;
}

a:hover {
  color: #adb5bd;
}

.xs-font {
  font-size: 13px;
  opacity: .5;
}

/* card */
.card {
  display: block;
  margin-bottom: 40px;
}

.card .card-img {
  width: 100%;
  border-radius: 0.25rem;
}

.card .card-body {
  padding: 10px;
  margin-top: 20px;
}

.card .card-subtitle {
  font-size: 13px;
  opacity: .8;
  font-weight: bold;
  margin-bottom: 3px;
}

.card .card-title {
  font-size: calc(17px + (22 - 17) * ((100vw - 300px) / (1300 - 300)));
  margin-bottom: 15px;
}

/* img overlay */
.overlay-img {
  display: block;
  background: transparent;
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
  border-radius: 0.25rem;
}

.overlay-img img {
  width: 100%;
  border-radius: 0.25rem;
}

.overlay-img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 58, 64, 0.5);
  -webkit-transition: all, 1s;
  transition: all, 1s;
}

@media (prefers-reduced-motion: reduce) {
  .overlay-img .overlay {
    -webkit-transition: none;
    transition: none;
  }
}

.overlay-img .des {
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all, 0.8s;
  transition: all, 0.8s;
}

@media (prefers-reduced-motion: reduce) {
  .overlay-img .des {
    -webkit-transition: none;
    transition: none;
  }
}

.overlay-img .des .title {
  font-weight: bold;
  font-size: 24px;
}

.overlay-img .des .subtitle {
  opacity: .7;
}

.overlay-img .des p {
  margin-top: 100px;
  opacity: 1;
  -webkit-transition: all, 1.2s;
  transition: all, 1.2s;
  opacity: 0;
  visibility: hidden;
}

@media (prefers-reduced-motion: reduce) {
  .overlay-img .des p {
    -webkit-transition: none;
    transition: none;
  }
}

.overlay-img:hover .overlay, .overlay-img:focus .overlay {
  background: rgba(33, 37, 41, 0.8);
}

.overlay-img:hover .des, .overlay-img:focus .des {
  top: 40%;
}

.overlay-img:hover .des p, .overlay-img:focus .des p {
  margin-top: 0;
  opacity: 1;
  visibility: visible;
}


/* page navbar */
.page-navbar {
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 110px;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}

@media (prefers-reduced-motion: reduce) {
  .page-navbar {
    -webkit-transition: none;
    transition: none;
  }
}

.page-navbar .nav-navbar {
  height: 100%;
  list-style-type: none;
  padding-left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-navbar .nav-navbar .nav-item {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
}

.page-navbar .nav-navbar .nav-link {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  flex-grow: 1;
  color: #f8f9fa;
  font-weight: bold;
  text-decoration: none;
  font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1300 - 300)));
}

.page-navbar .nav-navbar .nav-link i {
  font-weight: bold;
  display: inline-block;
  margin-right: 3px;
  position: relative;
  top: 1px;
  font-size: 14px;
}

.page-navbar .nav-navbar .nav-link img {
  width: calc(25px + (45 - 25) * ((100vw - 300px) / (1300 - 300)));
}

.page-navbar .nav-navbar .search {
  position: relative;
}

.page-navbar .nav-navbar .search .search-wrapper {
  position: absolute;
  top: 170%;
  right: 25%;
  width: 100%;
  background: rgba(33, 37, 41, 0.9);
  border-radius: 0.25rem;
  padding: 10px;
  border: 1px solid #495057;
  min-width: 250px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  .page-navbar .nav-navbar .search .search-wrapper {
    -webkit-transition: none;
    transition: none;
  }
}

.page-navbar .nav-navbar .search .search-wrapper:after {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 3px;
  display: block;
  background: inherit;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: -8px;
  right: 40px;
  border-top: 1px solid #495057;
  border-left: 1px solid #495057;
}

.page-navbar .nav-navbar .search .search-wrapper input {
  border-radius: 0.25rem;
  border-width: 1px;
  padding: 5px 8px;
  margin: 0;
}

.page-navbar .nav-navbar .search .search-wrapper.show {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.page-navbar.affix {
  background: #212529;
  height: 70px;
  border-bottom: 1px solid rgba(173, 181, 189, 0.1);
}

.page-navbar.affix .nav-link {
  color: #fff;
}

/* select theme */
.theme-selector {
  background: rgba(33, 37, 41, 0.8);
  z-index: 1000;
  position: fixed;
  top: 120px;
  left: calc(100% - 50px);
  width: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 40px 0 0 40px;
  border: 1px solid rgba(173, 181, 189, 0.2);
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  .theme-selector {
    -webkit-transition: none;
    transition: none;
  }
}

.theme-selector.show {
  left: calc(100% - 200px);
}

.theme-selector .spinner {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-right: 1px solid rgba(173, 181, 189, 0.2);
}

.theme-selector .spinner i {
  color: #fff;
}

.theme-selector .body {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.theme-selector .body a {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: 15px;
}

.theme-selector .body a.light {
  background: #fff;
  border: 2px solid #343a40;
}

.theme-selector .body a.dark {
  background: #343a40;
  border: 2px solid #fff;
}

.footer {
  position: relative;
  width: 100%;
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  margin-top: 50px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .infos {
  text-align: right;
  color: #fff;
  opacity: 1;
  width: 50%;
  margin-bottom: -1px;
  padding: 0 4px;
  font-size: 14px;
}

.footer .infos a {
  color: inherit;
  display: inline-block;
}

.footer span {
  width: 40px;
  display: inline-block;
  text-align: center;
}

.footer .links {
  width: 50%;
  text-align: left;
  padding: 0 4px;
}

.footer .links a {
  display: inline-block;
  margin: 0 15px;
  color: #fff;
  opacity: 1;
  font-size: 14px;
}

.footer .links a:first-child {
  margin-left: 0;
}

@media (max-width: 991.98px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .infos,
  .footer .links {
    width: 100%;
    text-align: center;
    margin: 5px 0;
  }
  .footer span {
    display: none;
  }
}

.header {
  z-index: 990;
  position: relative;
  height: 100%;
  min-height: 600px;
  text-align: center;
  color: #fff;
  background-image: url(makkah.jpg);
  background-size: cover;
  background-position: center;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}



.header .header-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}

.header .header-content .header-title {
  font-size: calc(25px + (50 - 25) * ((100vw - 300px) / (1300 - 300)));
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: bold;
}

.header .header-content .header-subtitle {
  opacity: 1;
  margin-bottom: 30px;
}

.header .header-content .btn-theme-color {
  padding: 8px 20px;
  border-radius: 30px;
  border: 2px solid #fff;
  color: #fff;
  background: transparent;
  outline: 0;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
  font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1300 - 300)));
  font-weight: bold;
}

@media (prefers-reduced-motion: reduce) {
  .header .header-content .btn-theme-color {
    -webkit-transition: none;
    transition: none;
  }
}

.header .header-content .btn-theme-color i {
  position: relative;
  top: 1px;
  font-weight: bold;
}

.header .header-content .btn-theme-color:hover {
  background: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
  color: #000;
}

.header .header-content .btn-theme-color:active {
  background: white;
}

.header-title {
  font-size: 2.4rem;
  font-weight: bold;
  opacity: .8;
}

.header-mini {
  min-height: 24rem;
  height: 24rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 1rem;
  background: #80bdff !important;
}

html,
body {
  height: 100%;
}

/* page container and row */
.page-container {
  text-align: center;
  padding: 50px 0;
}

@media (max-width: 767.98px) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

/* Conatct section */
.contact-section {
  padding-top: 120px;
  z-index: 990;
  position: relative;
  text-align: center;
  color: #fff;
  background-image: url(../imgs/footer.jpg);
  background-size: cover;
  background-position: bottom;
}

.contact-section .overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: -webkit-radial-gradient(48% 65%, 200% 130%, rgba(33, 37, 41, 0.5), rgba(33, 37, 41, 0.6), rgba(33, 37, 41, 0.7), rgba(33, 37, 41, 0.87), rgba(33, 37, 41, 0.99), #212529 55%, #212529 200%);
  background-image: radial-gradient(200% 130% at 48% 65%, rgba(33, 37, 41, 0.5), rgba(33, 37, 41, 0.6), rgba(33, 37, 41, 0.7), rgba(33, 37, 41, 0.87), rgba(33, 37, 41, 0.99), #212529 55%, #212529 200%);
}

body.light-theme {
  background-color: #fff !important;
  color: #000;
}

body.light-theme .title {
  color: #000;
}

body.light-theme p {
  color: #000;
}

body.light-theme nav.page-navbar .nav-link {
  color: #000;
}

body.light-theme nav.page-navbar.affix {
  background: #fff;
  border-bottom: 1px solid rgba(73, 80, 87, 0.2);
}

body.light-theme nav.page-navbar.affix .nav-link {
  color: #343a40;
}

body.light-theme nav.page-navbar .nav-navbar .search .search-wrapper {
  background: #fff;
  border-color: rgba(173, 181, 189, 0.5);
}

body.light-theme nav.page-navbar .nav-navbar .search .search-wrapper:after {
  border-color: inherit;
}

body.light-theme .theme-selector {
  background: #fff;
}

body.light-theme .theme-selector .spinner i {
  color: #343a40;
}

body.light-theme .header {
  background-image: url(../imgs/header-light.jpg);
}

body.light-theme .header .overlay {
  background-image: -webkit-radial-gradient(48% 42%, 140% 110%, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.93), #fff 55%, #fff 200%);
  background-image: radial-gradient(140% 110% at 48% 42%, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.93), #fff 55%, #fff 200%);
}

body.light-theme .header p,
body.light-theme .header .title,
body.light-theme .header .header-title {
  color: #212529;
}

body.light-theme .header .btn-theme-color {
  border-color: #212529;
  color: #212529;
}

body.light-theme .header .btn-theme-color:hover {
  background: rgba(33, 37, 41, 0.5);
  border-color: rgba(33, 37, 41, 0.1);
  color: #fff;
}

body.light-theme .header .btn-theme-color:active {
  background: #212529;
}

body.light-theme .overlay-img p,
body.light-theme .overlay-img .title,
body.light-theme .overlay-img .subtitle {
  color: #fff;
}

body.light-theme .card .card-title,
body.light-theme .card .card-subtitle {
  color: #212529;
}

body.light-theme .form-control {
  border-color: #adb5bd;
  background: rgba(206, 212, 218, 0.6);
  color: #343a40;
}

body.light-theme .form-control::-webkit-input-placeholder {
  color: #495057;
}

body.light-theme .form-control::-moz-placeholder {
  color: #495057;
}

body.light-theme .form-control:-ms-input-placeholder {
  color: #495057;
}

body.light-theme .form-control::-ms-input-placeholder {
  color: #495057;
}

body.light-theme .form-control::placeholder {
  color: #495057;
}

body.light-theme .form-control:focus {
  border-color: rgba(33, 37, 41, 0.6);
}

body.light-theme .form-control[type="submit"]:focus, body.light-theme .form-control[type="submit"]:hover {
  background-color: rgba(52, 58, 64, 0.6);
  border-color: rgba(52, 58, 64, 0.6);
  color: #fff;
}

body.light-theme .contact-section .overlay {
  background-image: -webkit-radial-gradient(48% 65%, 200% 130%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.87), rgba(255, 255, 255, 0.99), #fff 55%, #fff 200%);
  background-image: radial-gradient(200% 130% at 48% 65%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.87), rgba(255, 255, 255, 0.99), #fff 55%, #fff 200%);
}

body.light-theme .contact-section .footer .infos,
body.light-theme .contact-section .footer span,
body.light-theme .contact-section .footer .links a {
  color: #212529;
}

body.dark-theme {
  background: #212529;
  background-image:url(makkah.jpg);
}



.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.nav-link:hover, .nav-link:focus {
  text-decoration: none;
}

.nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
}

.nav-tabs .nav-link.disabled {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-pills .nav-link {
  border-radius: 0.25rem;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #007bff;
}

.nav-fill .nav-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
}

.nav-justified .nav-item {
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}